{% extends "admin_page/base.html" %}
{% block admin %}
	active
{% endblock admin %}
{% block headers %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
        	Admin
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-user"></i> <a href="/admin/add">Add Admin</a>
            </li>
            <li class="active">Admin Data</li>
        </ol>
    </div>
</div>  
{% endblock headers %}
{% block content %}
<table cellpadding="10">
    <tr>
        <td>
            <input type="text" name="username" class="form-control input-sm" id="username" placeholder="Search ...">
        </td>
    </tr>
</table>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th><center>Username</center></th>
            <th><center>Super Admin</center></th>
            <th><center>Action</center></th>                            
        </tr>
    </thead>
    <tbody id="adminData">
    </tbody>
</table>        
<nav aria-label="Page navigation">
    <ul class="pagination" id="pagination"></ul>
</nav>
<div hidden="true" id="currentPage"></div>
{% endblock content %}

{% block page %}{{ totalPage }}{% endblock page %}

{% block callFunction %}getAdminData(page);{% endblock callFunction %}