{% extends "admin_page/base.html" %}
{% block evaluation %}
    active
{% endblock evaluation %}
{% block headers %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Evaluation
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="glyphicon glyphicon-home"></i> Evaluation
            </li>
            <li><a href="/admin/evaluation_data">Evaluation Data</a></li>
        </ol>
    </div>
</div>    
{% endblock headers %}
{% block content %}
<!-- /.row -->
<div class="table-responsive">
<table cellpadding="10">
    <tr>
        <td>Filter :</td>
        <td>&nbsp</td>
        <td>
            <select class="form-control input-sm">
                <option>DTM Method</option>
                <option>TF</option>
                <option>TF-IDF</option>
                <option>Boolean</option>
            </select>
        </td>
        <td>&nbsp</td>
        <td>
            <select class="form-control input-sm">
                <option>Sentence Selection Method</option>
                <option>Gong & Liu</option>
                <option>Steinberger & Jezek</option>
                <option>Steinberger & Jezek 2</option>
                <option>Cross</option>
            </select>
        </td>
        <td>&nbsp</td>
        <td>
            <select class="form-control input-sm">
                <option>Aspect Ratio</option>
                <option>10 %</option>
                <option>20 %</option>
                <option>30 %</option>
                <option>40 %</option>
                <option>50 %</option>
                <option>60 %</option>
                <option>70 %</option>
                <option>80 %</option>
                <option>90 %</option>
            </select>
        </td>
        <td>&nbsp</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm">Filter</button>
        </td>
    </tr>
</table>
<br>
<table class="table table-bordered">
    <thead style="text-align:center">
        <tr>
            <th rowspan="2" style="vertical-align:middle">No</th>
            <th rowspan="2" style="vertical-align:middle"><center>Document Term Matrix</center></th>
            <th rowspan="2" style="vertical-align:middle"><center>Sentence Selection</center></th>
            <th rowspan="2" style="vertical-align:middle"><center>Aspec Ratio</center></th>
            <th colspan="3"><center>Main Topic</center></th>
            <th colspan="3"><center>Term Significance</center></th>
        </tr>
        <tr>
            <th><center>Max</center></th>
            <th><center>Min</center></th>
            <th><center>Average</center></th>
            <th><center>Max</center></th>
            <th><center>Min</center></th>
            <th><center>Average</center></th>
        </tr>
        
    </thead>
    <tbody>
    {% for data in datas  %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ data.dtmMethod }}</td>
            <td>{{ data.sentenceSelectionMethod }}</td>
            <td><center>{{ data.aspectRatio }}</center></td>
            <td>{{ '%0.4f' % data.max_mainTopic | float }}</td>
            <td>{{ '%0.4f' % data.min_mainTopic | float }}</td>
            <td>{{ '%0.4f' % data.avg_mainTopic | float }}</td>
            <td>{{ '%0.4f' % data.max_termSignificance | float }}</td>
            <td>{{ '%0.4f' % data.min_termSignificance | float }}</td>
            <td>{{ '%0.4f' % data.avg_termSignificance | float }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}
<!-- Page Heading -->
