<!DOCTYPE html>
<html>
<head>
	<title>Automatic Summarization</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'myscript.js') }}" ></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="
	sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">
		.glyphicon {
			font-size: 20px;
		}
	</style>
	
	<!-- sweet alert -->
	<script type="text/javascript" src="{{ url_for('static', filename = 'sweetalert/dist/sweetalert.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'sweetalert/dist/sweetalert.css') }}">
</head>
<body>
<div class="container">
	<center>
		<h2>Indonesian Automatic Text Summarization <button class="btn btn-default" data-toggle="modal" data-target="#myModalNorm">
    		<span class="glyphicon glyphicon-cog" style="vertical-align:middle"></span>
  		</button></h2>
		<br>
		<br>
		<img src="http://www.tbaf.org.tw/event/2016safe/imgs/loader1.gif" hidden="true" id="loader" height="334px">
		<textarea class="form-control" rows="15" id="text" style="width:60%" placeholder="For best result, please only input text (no table of content, talbe dll)"></textarea>
		<br>
		<button type="button" class="btn btn-primary" id="summarization">Summarize</button>
		<button type="button" class="btn btn-success" id="upload">Upload</button>
        <button type="button" class="btn btn-success">Save Result</button>
		<button type="button" class="btn btn-default" id="clear">Clear</button>   
		<form enctype = "multipart/form-data" action="#" method="post" id="upload-file">
			<input id="file" type="file" name="file" style="display: none;" accept="application/pdf, application/msword, text/plain, .odt, .docx" />	
		</form>
	</center>	
	<!-- Modal -->
	<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!-- Modal Header -->
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal">
	                       <span aria-hidden="true">&times;</span>
	                       <span class="sr-only">Close</span>
	                </button>
	                <h4 class="modal-title" id="myModalLabel">
	                	Configuration
	                </h4>
	            </div>
	            
	            <!-- Modal Body -->
	            <div class="modal-body">
	                
	                <form role="form">
	                  <div class="form-group">
	                   	<label for="ratio">Threshold in %</label>
	                   	<br>
	                   	<input type="number" class="form-control" min="10" max="100" step="5" value="50" id="ratio">
	                   	<!--
	                   	<input id="ratio" data-slider-id='ex1Slider' type="text" data-slider-min="10" data-slider-max="100" data-slider-step="5" data-slider-value="50"/> -->
	                  </div>
	                  <div class="form-group">
	                    <label for="dtmMethod">Document Term Matrix Method</label>
	                    <select class="form-control" id="dtm">
	                    	<option value="tfidf">Term Frequency Inverse Document Frequency (TFIDF)</option>
	                    	<option value="tf" selected="selected">Term Frequency (TF)</option>
	                    	<option value="boolean">Boolean</option>
	                    </select>
	                  </div>
	                  <div class="form-group">
	                    <label for="sentenceSelection">Sentence Selection Method</label>
	                    <select class="form-control" id="sentenceSelection">
	                    	<option value="GongLiu">Gong & Liu</option>
	                    	<option value="SteinbergerJezek">Steinberger & Jezek 1</option>
	                    	<option value="SteinbergerJezek2" selected="selected">Steinberger & Jezek 2</option>
	                    	<option value="cross">CROSS</option>
	                    </select>
	                  </div>
                      <div class="form-group">
                        <label for="saveAs">Save As</label>
                        <select class="form-control" id="formatFile">
                            <option value="plainText">Plain Text (txt)</option>
                            <option value="pdf">PDF</option>
                        </select>
                      </div>
	                  <div class="checkbox">
	                    <label>
	                        <input type="checkbox"/> Evaluate Result
	                    </label>
	                  </div>
	                </form>
	            </div>
	            
	            <!-- Modal Footer -->
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" id="saveSettings" data-dismiss="modal">Save changes</button>
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	    </div>
	</div>
</div>

</body>
</html>